<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Conditional tpl</title>
</head>

<body>

	{{if .Rural}}
	<h1>Hey there cowgirl!</h1>
	{{else}}
	<h2>Hey there city girl!</h2>
	{{end}}
</body>

</html>
