<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="POST">
    <label for="pName">Name</label>
    <input type="text" id="pName" name="name">
    <br>
    <label for="pAge">Age</label>
    <input type="text" id="pAge" name="age">
    <br>
    <input type="submit">
</form>

<h1>{{ .Name }} {{ .Age }}</h1>
<p>Info will be stored in cookie</p>
</body>
</html>